<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>     
            <th>Check Number</th>
            <th>Due Date</th>
            <th>@ViewBag.ColumnHeader</th>
            <th>Receipt Code</th>
            <th>Receipt Date</th>                   
            <th>Amount</th>
            <th>Status</th>
            <th>Actions</th>     
        </tr>
    </thead>

</table>
