<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th>Contractor</th>
            <th>Container Type</th>
            <th>POL</th>
            <th>POD</th>
            <th>Trucking Cost</th>
            <th>Valid To</th>
            <th>Actions</th>

        </tr>
    </thead>
</table>
