<table class="table table-bordered table-striped mb-none" id="datatable-default" style="width:100%">
    <thead>
        <tr>
            <th>Receipt Code</th>
            <th>Payment Term</th>
            <th>Receipt Date</th>
            <th>Receipt Amount</th>
            <th>Client</th>
            <th>Notes</th>
            <th>Create Date</th>
            <th>Create By</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>

