<table class="table table-bordered table-striped mb-none" id="cashinouttb">
    <thead>
        <tr>
            <th>Receipt Code</th>
            <th>Receipt Date</th>
            <th>Amount</th>
            <th>Currency</th>
        </tr>
    </thead>
    <tfoot>
    </tfoot>
</table>
