<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th></th>        
            <th>Invoice Number</th>
            <th>A/P Invoice</th>
            <th>Due Date</th>
            <th>Oper Code</th>
            
            <th>Invoice Date</th>           
            <th>Supplier</th>
            <th>Amount</th>
            <th>Amount Due</th>
            <th>Status</th>
            <th>Actions</th>
        
        </tr>
    </thead>

</table>
