
<section class="panel">
    <header class="panel-heading">
        <div class="panel-actions">
            <a href="#"></a>
            <a href="#"></a>
        </div>

        <h2 class="panel-title">Cash In Receipts</h2>
    </header>
    <div id="cashincontent" class="panel-body">
        <div class="row">
            <div class="col-sm-3 mb-md">
                <a id="addcashin" href="javascript:void(0)" class="btn btn-primary">Add Cash Receipt  <i class="fa fa-plus"></i></a>
            </div>
        </div>

        <div id="maincontent" class="row">

        </div>
    </div>
</section>
