<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th>Receipt Code</th>
            <th>Receipt Date</th>
            <th>Receipt Type</th>
            <th>Partner Name</th>
            <th>Receipt Amount</th>
            <th>Notes</th>
            <th>Create Date</th>
            <th>Create By</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>

