<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th>Code</th>
            <th>Name English</th>
            <th>Name Arabic</th>
            <th>Department</th>
            <th>Actions</th>
        </tr>
    </thead>
</table>
