<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th></th>
            <th></th>
            <th>Need Arrive</th>
            <th>Operation Code</th>
            <th>Booking No</th>
            <th>MBL</th>
            <th>Client</th>           
            <th>Port</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>
