/* Add here all your CSS customizations */
.dropdown-menu {
    font-size: 13px !important;
}

td.details-control {
    background: url('../assets/vendor/jquery-datatables/examples/resources/details_open.png') no-repeat center center;
    cursor: pointer;
}

tr.shown td.details-control {
    background: url('../assets/vendor/jquery-datatables/examples/resources/details_close.png') no-repeat center center;
}

.printfooteremail {
    background-color: red;
    height: 40px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
    padding-top: 7px;
    font-weight:bold;
    font-size:large;
}

.printfooteraddress {
    font-weight:bold;
}

.has-error .select2-selection {
    border: 1px solid #a94442;
    border-radius: 4px;
}