<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th></th>
            <th></th>        
            <th>Note Code</th>
            <th>Due Date</th>
            <td>Oper Code</td>
            <td>MBL</td>
            <th>Note Date</th>           
            <th>Agent</th>
            <th>Amount</th>
            <th>Amount Due</th>
            <th>Status</th>
            <th>Actions</th>
        
        </tr>
    </thead>

</table>
