<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th></th>
            <th>Open Date </th>
            <th>Quotation Code</th>
            <th>Shipper</th>
            <th>Consignee</th>
            <th>Carrier</th>
            <th>From</th>
            <th>To</th>
            <th>Departure</th>
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>
