<table class="table table-bordered table-striped mb-none" id="datatable-default">
    <thead>
        <tr>
            <th ></th>
            <th>Need Arrive</th>
            <th>Arrived</th>
            <th>Create Date</th>
            <th>Operation Code</th>
          
            <th>Client</th>
            <th>Booking#</th>
            <th>Contractor Name</th>            
            <th>Status</th>
            <th>Actions</th>
        </tr>
    </thead>

</table>
